REFRESH_JWT_SECRET=local3@.12
SECRET_KEY=zv$_cu--ca0)7(z*2q$%hei72!(=oawwq&)y35n_^7nskx^_3

#DB
DB_NAME=book_tours
DB_USER=root
DB_PASSWORD=phongphong
PORT=3306
HOST=localhost

#HOST
API_HOST='http://localhost:8000'
FE_HOST='http://localhost:8080'

#PAGE
PAGESIZE=10

#STRIPE
STRIPE_PUBLIC_KEY=pk_test_51HARcVFZiqUk9BtoWsPZfsz6nnXVGCTi8ioUPx0Gfsl61WyNGFqO5sM5cK6tcH9JVYj8QoxVFm5hkASGHGucFXGx00pgyLfWmV	
STRIPE_SECRET_KEY=sk_test_51HARcVFZiqUk9BtofttbilmAtRj4TdBnJ0azr5gA8c3k87uzNcTO0DwWc2yWp6Wr9ufj46NlWPudy8JxSY3hJJk2008k1nyqUF
